.container {
    width: 100%;
    max-width: 712px;
    min-width: 360px;
    padding: 0 15px;
    margin: 80px auto;
}

.title {
    background-color: brown;
    color: white;
    text-align: center;
}

.backgr {
    width: 100%;
}

.text {
    font-size: 18px;
    }

.bltxt {
    color: blue;
}

.img_block {
    text-align: center;
}

.images {
    border: dashed 3px black;
}

footer {
    font-size: 20px;
    background-color: black;
    color: white;
    text-align: center;
}